.Order {
  width: 80%;
  border: 1px solid #eee;
  box-shadow: 0 2px 3px #ccc;
  padding: 10px;
  margin: 10px auto;
  box-sizing: border-box;
}

.IngredientsBox {
  display: inline-block;
  margin: 5px;
  padding: 5px;
  border: 1px solid grey;
  border-radius: 5px;
}

.IngredientsBox::first-letter {
  text-transform: uppercase;
}

.IngredientsText {
  text-transform: capitalize;
  font-weight: bold;
}

.Meat {
  background: linear-gradient(#7f3608, #702e05);
  border-color: #7f3608;
  color: white;
}

.Cheese {
  background: linear-gradient(#f4d004, #d6bb22);
  border-color: #f4d004;
}

.Salad {
  background: linear-gradient(#228c1d, #91ce50);
  border-color: #228c1d;
}

.Bacon {
  background: linear-gradient(#bf3813, #c45e38);
  border-color: #bf3813;
  color: white;
}
