.CheckoutSumary {
  text-align: center;
  width: 80%;
  margin: auto;
}

@media (min-width: 1000px) {
    .CheckoutSumary {
      width: 1000px;
    }
  }

.BurgerWrapper {
  width: 100%;
  height: 300px;
  margin: auto;
}

@media (min-width: 1000px) {
    .BurgerWrapper {
        height: 455px;
      }
}
